<div id="contentContainer">
  <h1>Bienvenido</h1>
  <div id="itemsContainer">
    <div id="textContainer">
      <p id="text">Descubre un mundo de aprendizaje en línea sin límites. En Studio Shodwe, te ofrecemos una plataforma educativa única donde podrás explorar y adquirir conocimientos en una amplia gama de temas, desde desarrollo web hasta fotografía, negocios, diseño gráfico, tecnologías y mucho más.</p>
      <p id="text">En Studio Shodwe, creemos que el aprendizaje no debe tener barreras. Por eso, hemos diseñado una plataforma intuitiva y fácil de usar que te permite acceder a nuestros cursos desde cualquier lugar y en cualquier momento. Con nuestro enfoque flexible, puedes aprender a tu propio ritmo y adaptar tus horarios de estudio según tus necesidades.</p>
    </div>

    <div id="image"></div>


  </div>
</div>
