<div>
  <form [formGroup]="registerModel" (ngSubmit)="submitRegistro()" class="row col-8 g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nombre</label>
      <input
        formControlName="name"
        type="text"
        class="form-control"
        [class.is-invalid]="nameControl.touched && nameControl.invalid"
        id="inputEmail4"
      />
      <div class="invalid-feedback">
        El campo es requerido
      </div>
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Apellido</label>
      <input
        formControlName="lastName"
        type="text"
        class="form-control"
        [class.is-invalid]="lastNameControl.touched && lastNameControl.invalid"
        id="inputEmail4"
      />
      <div class="invalid-feedback">
        El campo es requerido
      </div>
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        [class.is-invalid]="emailControl.touched && emailControl.invalid"
        id="inputEmail4"
      />
      <div class="invalid-feedback">
        <span *ngIf="registerModel.controls.email.errors?.['required']">El campo es requerido</span>
        <span *ngIf="registerModel.controls.email.errors?.['email']">Email no válido</span>
      </div>
    </div>
    <div>
      <label for="inputPassword4" class="form-label">Password</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        [class.is-invalid]="passwordControl.touched && passwordControl.invalid"
        id="inputPassword4"
      />
      <p>{{ registerModel.controls.password.errors | json }}</p>
      <div class="invalid-feedback">
        <span *ngIf="registerModel.controls.password.errors?.['required']">El campo es requerido</span>
        <span *ngIf="registerModel.controls.password.errors?.['minlength']">Debe tener al menos 6 digitos</span>
      </div>
    </div>


    <button type="submit" class="btn btn-primary" [disabled]="registerModel.invalid">Registrarse</button>
    <div *ngIf="mostrarAlert" class="alert alert-success" role="alert">
      Registro exitoso. ¡Bienvenido!
    </div>
  </form>
</div>

